<div class="template-footer">
    <!-- Container -->
    <div class="container">

            {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}

    </div>
    <!-- End Container -->
</div>
